<footer class="main-footer">
  <div class="container-fluid">
    <a href="https://github.com" target="_blank">GitHub</a> </br> </br>
	 <a href="https://continue.yorku.ca/login/" target="_blank">YorkU</a>
  </div>
</footer>
